<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="false" internalLogFile="${basedir}/nlog.txt"
         internalLogLevel="Error" autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <targets>
    <!-- Sample Syslog Target -->
    <!--
    <target name="syslog" xsi:type="Syslog" syslogserver="server" port="123" facility="Local7"/>
    -->
    
    <!-- Sample File Target -->
    <!--
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt" layout="${event-context:item=JSON}"/>
    -->
    
    <!-- Sample Loggly NLog Target -->
    <!--
    <target xsi:type="WebService"
          name="Loggly"
          url="http://URL/test"
          protocol="HttpPostRaw"
          encoding="ASCII">
      <parameter layout="${event-context:item=JSON}" name="JSON" type="Layouts"/>
      </target>
      -->

  </targets>

  <rules>
    <!-- Sample Logger Rule -->
    <!--
    <logger name="*" minlevel="Trace" writeTo="file,syslog" />
    -->
  </rules>
</nlog>
