<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="false" internalLogFile="${basedir}/nlog.txt"
         internalLogLevel="Error" autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
  </extensions>

  <targets>
    
    <!-- Sample File Target -->
    <!-- 
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt" />
    -->
    
    <!-- Sample Loggly NLog Target -->
    <!-- Shout out to jkowalski for the help-->
    
    <!-- Logs to HTTPS interface on Loggly. Send a JSON string to the server for parsing -->
    <!--
    <target name="n" xsi:type="AsyncWrapper">
       <target xsi:type="RetryingWrapper">
          <target name="httpJSON" type="Network" address="https://logs.loggly.com/inputs/input" layout="${event-context:item=JSON}" />
       </target>
     </target>
    -->
    
    <!-- Logs the standard format to loggly over HTTPS -->
    <!--
    <target name="n" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target name="http" type="Network" address="https://logs.loggly.com/inputs/input" />
      </target>
    </target>
    -->
    
    <!-- Logs a standard syslog message over UDP to any UDP syslog server -->
    <!-- 
     <target name="n" xsi:type="AsyncWrapper">
        <target name="syslogUDP" type="Network" address="udp://nsmon01-sco.bianyc.net:514" layout="${event-context:item=SYSLOG}"  maxMessageSize="1024" />
     </target>
    -->
  </targets>

  <rules>
    <!-- Sample Logger Rule -->
    
    <!-- Logs Trace and above to the loggly inputs above-->
    <!--
    <logger name="*" minlevel="Trace" writeTo="httpJSON,http" />
    -->
    
    <!-- Logs all warnings and above to the UDP Syslog Server-->
    <!--
    <logger name="*" minlevel="Warn" writeTo="syslogUDP" />
    -->
    
  </rules>
</nlog>
