<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="false" internalLogFile="${basedir}/nlog.txt" internalLogLevel="Error" autoReload="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Syslog.Extension"/>
  </extensions>

  <targets>

    <target name="PaperTrailAsyncTarget" xsi:type="AsyncWrapper">
      <target name="PaperTrailTarget" xsi:type="Network" layout="&lt;${priority}&gt;${timestamp:UniversalTime=true} ${machinename} ${logger}[${event-context:item=EventID}]: ${message}" Encoding="ASCII" maxMessageSize="1024" address="udp://logs.papertrailapp.com:514"/>
    </target>
    <target name="LocalAsyncTarget" xsi:type="AsyncWrapper">
      <target name="LocalSyslogTarget" xsi:type="Network" layout="&lt;${priority}&gt;${timestamp:UniversalTime=true} ${machinename} ${logger}[${event-context:item=EventID}]: ${message}" Encoding="ASCII" maxMessageSize="1024" address="udp://logs:514"/>
    </target>


    <!--
    <target xsi:type="Console"
          name="ConsoleTarget"
          layout="&#060;${priority}&#062;${timestamp:UniversalTime=true} ${machinename} ${logger}[${event-context:item=EventID}]: ${message}" />
      -->
  </targets>


  <rules>
    <logger name="*" minlevel="Trace" writeTo="LocalSyslogTarget"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget"  />
    -->
  </rules>
</nlog>
