<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="c9ef65f0-5d9b-43ac-91b6-173d3975bcaf" Name="WinLogInstaller" Language="1033" Version="1.0.0.0" Manufacturer="WinLogInstaller" UpgradeCode="a4ea4e57-a219-4a11-bea4-743e44c683c5">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="WinLog">
            <Component Id="WinLogService" Guid="{908B7199-DE2A-4dc6-A8D0-27A5AE444FEA}">
              <File Id="NLog.dll" Name="NLog.dll" Source="..\Output\Release\NLog.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="NLog.config" Name="NLog.config" Source="..\Output\Release\NLog.config" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="NLog.Targets.Syslog.dll" Name="NLog.Targets.Syslog.dll" Source="..\Output\Release\NLog.Targets.Syslog.dll" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="winlog2.exe.config" Name="winlog.exe.config" Source="..\Output\Release\winlog.exe.config" Vital="yes" KeyPath="no" DiskId="1"/>
              <File Id="winlog2.exe" Name="winlog.exe" Source="..\Output\Release\winlog.exe" Vital="yes" KeyPath="yes" DiskId="1"/>
              <ServiceInstall
                Id="ServiceInstaller"
                Type="ownProcess"
                Vital="yes"
                Name="WindLog"
                DisplayName="Windows Syslog Sender"
                Description="Monitors Event Logs for Syslog Messages"
                Start="auto"
                Account="LocalSystem"
                ErrorControl="ignore"
                Interactive="no"
              >
              </ServiceInstall>
              <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="WindLog" Wait="yes" />
            </Component>
				</Directory>
			</Directory>
		</Directory>

    <Feature Id="ProductFeature" Title="WindLogService" Level="1">
      <ComponentRef Id="WinLogService" />
    </Feature>
	</Product>
</Wix>
